In [2]:
import pandas as pd
import numpy as np

In [8]:
edges = pd.read_table('data/flight_edges.tsv',header=None,\
                      names=['Origin','Destination','Origin City','Destination City', 'Passengers','Seats','Flights','Distance','Fly Date','Origin Population','Destination Population'])

In [9]:
edges.columns

Index([u'Origin', u'Destination', u'Origin City', u'Destination City',
       u'Passengers', u'Seats', u'Flights', u'Distance', u'Fly Date',
       u'Origin Population', u'Destination Population'],
      dtype='object')

In [11]:
len(edges['Destination'].unique())

708

In [17]:
edges[(edges['Origin']=='ATL')&(edges['Destination']=='JFK')].sort().head(20)

/Users/ChrisV/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  if __name__ == '__main__':

,Origin,Destination,Origin City,Destination City,Passengers,Seats,Flights,Distance,Fly Date,Origin Population,Destination Population
1671357,ATL,JFK,"Atlanta, GA","New York, NY",2476,4380,30,760.0,199012,3087755,33737966
1671367,ATL,JFK,"Atlanta, GA","New York, NY",3584,4350,30,760.0,199008,3087755,33737966
1671368,ATL,JFK,"Atlanta, GA","New York, NY",3381,4526,31,760.0,199008,3087755,33737966
1671484,ATL,JFK,"Atlanta, GA","New York, NY",3708,4205,29,760.0,199006,3087755,33737966
1671489,ATL,JFK,"Atlanta, GA","New York, NY",3428,4088,28,760.0,199006,3087755,33737966
1671490,ATL,JFK,"Atlanta, GA","New York, NY",115,115,1,760.0,199006,3087755,33737966
1671618,ATL,JFK,"Atlanta, GA","New York, NY",3752,4205,29,760.0,199007,3087755,33737966
1671619,ATL,JFK,"Atlanta, GA","New York, NY",3253,4526,31,760.0,199007,3087755,33737966
1671646,ATL,JFK,"Atlanta, GA","New York, NY",3300,4495,31,760.0,199003,3087755,33737966
1671647,ATL,JFK,"Atlanta, GA","New York, NY",2864,4526,31,760.0,199003,3087755,33737966
1671683,ATL,JFK,"Atlanta, GA","New York, NY",2217,4380,30,760.0,199011,3087755,33737966
1671684,ATL,JFK,"Atlanta, GA","New York, NY",2076,4060,28,760.0,199011,3087755,33737966
1671685,ATL,JFK,"Atlanta, GA","New York, NY",25,148,1,760.0,199011,3087755,33737966
1671696,ATL,JFK,"Atlanta, GA","New York, NY",3744,4350,30,760.0,199004,3087755,33737966
1671697,ATL,JFK,"Atlanta, GA","New York, NY",3186,4380,30,760.0,199004,3087755,33737966
1671732,ATL,JFK,"Atlanta, GA","New York, NY",3252,4350,30,760.0,199009,3087755,33737966
1671734,ATL,JFK,"Atlanta, GA","New York, NY",2854,4380,30,760.0,199009,3087755,33737966
1671798,ATL,JFK,"Atlanta, GA","New York, NY",2659,4526,31,760.0,199010,3087755,33737966
1671799,ATL,JFK,"Atlanta, GA","New York, NY",2359,4350,30,760.0,199010,3087755,33737966
1671800,ATL,JFK,"Atlanta, GA","New York, NY",230,276,1,760.0,199002,3087755,33737966